<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useTable = useTableStore();
const form = ref<VForm | null>(null);
</script>
<template>
  <v-dialog v-model="useTable.dialogDelete" persistent width="25%" height="70%">
    <v-card>
      <v-card-title>Delete</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card-text
                >Confirm Delete Table
                {{ useTable.deletetable }}
                ?</v-card-text
              >
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useTable.dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useTable.deleteTable(useTable.deletetable),
                (useTable.dialogDelete = false)
            "
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
