<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useTable = useTableStore();
const form = ref<VForm | null>(null);

async function save() {
  await useTable.saveTable();
  useTable.dialogEdit = false;
}
</script>
<template>
  <v-dialog v-model="useTable.dialogEdit" persistent width="25%" height="70%">
    <v-card>
      <v-card-title>Edit Table</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Chair"
                required
                v-model.number="useTable.editedTable.chair"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useTable.dialogEdit = false"
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
