<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { useOrderDetailStore } from "@/stores/order-detail";
import { ref } from "vue";
import { onMounted } from "vue";
import { mdiPlusThick, mdiDelete, mdiPencil } from "@mdi/js";
import { useOrderStore } from "@/stores/order";

const useOrder = useOrderStore();
const useTable = useTableStore();
const useOrderDetail = useOrderDetailStore();

onMounted(async () => {
  await useOrderDetail.getOrderDetail(+useTable.editedTable.id!);
});

function statuscolor(status: string) {
  if (status === "กำลังรอคิว") {
    return "red-darken-1";
  } else if (status === "used") {
    return "red-darken-1";
  } else if (status === "clean") {
    return "yellow-darken-4";
  }
}
</script>

<template>
  <v-card class="mx-auto" variant="tonal" color="#826F66">
    <v-container>
      <v-row>
        <v-col cols="11"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >OrderList</v-card-title
          ></v-col
        >
        <v-col cols="1"></v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 60vh">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Number</th>
                <th style="font-size: 15px; color: white">Name</th>
                <th style="font-size: 15px; color: white" class="text-center">
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of useOrderDetail.orderDetail"
                :key="item.order_detail_id"
              >
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.order_detail_id }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.ord_detail_name }}
                </th>
                <th>
                  <v-card
                    align="center"
                    height="5vh"
                    width="9vw"
                    class="mx-auto"
                    :color="statuscolor(item.ord_detail_status)"
                    ><v-card-subtitle
                      class="pt-1"
                      style="font-size: 13px; font-weight: bold"
                      >{{ item.ord_detail_status }}</v-card-subtitle
                    ></v-card
                  >
                </th>
                <th class="text-right"></th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}

.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
