<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import { onMounted } from "vue";
import AddDialog from "@/views/table/DialogAdd.vue";
import EditDialog from "@/views/table/DialogEdit.vue";
import DeleteDialog from "@/views/table/DialogDelete.vue";
import { mdiPlusThick, mdiDelete, mdiPencil } from "@mdi/js";

const useTable = useTableStore();

onMounted(async () => {
  await useTable.getTables();
  await useTable.clearAdd();
});

function statuscolor(status: string) {
  if (status === "ready") {
    return "green-darken-1";
  } else if (status === "used") {
    return "red-lighten-1";
  } else if (status === "clean") {
    return "yellow-darken-4";
  }
}
</script>

<template>
  <EditDialog></EditDialog>
  <AddDialog></AddDialog>
  <DeleteDialog></DeleteDialog>
  <v-card class="mx-auto" variant="tonal" color="#826F66">
    <v-container>
      <v-row>
        <v-col cols="11"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >Table</v-card-title
          ></v-col
        >
        <v-col cols="1"
          ><v-btn
            :icon="mdiPlusThick"
            color="brown-lighten-2"
            @click="useTable.dialogAdd = true"
          ></v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 60vh">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Number</th>
                <th style="font-size: 15px; color: white">Chair</th>
                <th style="font-size: 15px; color: white" class="text-center">
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of useTable.tables" :key="item.id">
                <th style="font-size: 15px; color: #607d8b">{{ item.id }}</th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.chair }}
                </th>
                <th>
                  <v-card
                    align="center"
                    height="5vh"
                    width="9vw"
                    :color="statuscolor(item.status)"
                    class="mx-auto"
                    ><v-card-subtitle
                      class="pt-1"
                      style="font-size: 13px; font-weight: bold"
                      >{{ item.status }}</v-card-subtitle
                    ></v-card
                  >
                </th>
                <th class="text-right">
                  <v-btn
                    :icon="mdiPencil"
                    class="ma-2"
                    @click="
                      (useTable.editedTable = item),
                        (useTable.dialogEdit = true)
                    "
                    color="blue-grey-lighten-1"
                  ></v-btn>
                  <v-btn
                    :icon="mdiDelete"
                    class="ma-2"
                    color="brown-darken-1"
                    @click="
                      (useTable.deletetable = item.id),
                        (useTable.dialogDelete = true)
                    "
                  >
                  </v-btn>
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
    <v-pagination
      :length="useTable.lastPage"
      v-model="useTable.page"
    ></v-pagination>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}

.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
