<script setup lang="ts">
import { mdiLogout, mdiLogin } from "@mdi/js";
import { useLoginStore } from "@/stores/login";
import router from "@/router";
import { onMounted } from "vue";
const loginStore = useLoginStore();

const logout = () => {
  loginStore.logout();
};

// const loginN = () => {
//   router.replace("/login");
// };

onMounted(async () => {
  await loginStore.loadData();
});
</script>

<template>
  <v-app-bar color="#3A3845">
    <v-spacer></v-spacer>
    <v-img class="animated-gif" src="src/image/ped.gif"></v-img>
    <v-spacer></v-spacer>

    <v-btn
      v-if="loginStore.isLogin"
      :prepend-icon="mdiLogout"
      @click="logout"
      color="rgb(243, 245, 225)"
      >Log Out</v-btn
    >
  </v-app-bar>
</template>
<style scoped>
.animated-gif {
  right: 0;
  bottom: 0;
  animation: move-left-right 7s infinite ease-in-out;
}

@keyframes move-left-right {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-150%);
  }
}
</style>
