<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useEmployee = useEmployeeStore();
const form = ref<VForm | null>(null);
</script>
<template>
  <v-dialog
    v-model="useEmployee.dialogDelete"
    persistent
    width="25%"
    height="70%"
  >
    <v-card>
      <v-card-title>Delete</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card-text
                >Confirm Delete Employee
                {{ useEmployee.deleteemployee }}
                ?</v-card-text
              >
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useEmployee.dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useEmployee.deleteEmployee(useEmployee.deleteemployee),
                (useEmployee.dialogDelete = false)
            "
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
