<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useUser = useUserStore();
const useEmployee = useEmployeeStore();
const form = ref<VForm | null>(null);

async function save() {
  await useEmployee.AddEmployee();
  await useUser.AddUser();
}
</script>
<template>
  <v-dialog v-model="useEmployee.dialogAdd" persistent width="40%" height="70%">
    <v-card>
      <v-card-title>Add New Employee </v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Name"
                required
                v-model="useEmployee.editedemployee.name"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Surname"
                required
                v-model="useEmployee.editedemployee.surname"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Tel"
                required
                v-model="useEmployee.editedemployee.tel"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Jobtitle"
                required
                v-model="useEmployee.editedemployee.jobtitle"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="login name"
                required
                v-model="useUser.editeduser.user_login"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="name"
                required
                v-model="useUser.editeduser.username"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="password"
                required
                v-model="useUser.editeduser.password"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useEmployee.dialogAdd = false;
              useEmployee.clearAdd();
              useUser.clearAdd();
            "
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
