<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useEmployee = useEmployeeStore();
const form = ref<VForm | null>(null);

async function save() {
  await useEmployee.saveEmployee();
  useEmployee.dialogEdit = false;
}
</script>
<template>
  <v-dialog
    v-model="useEmployee.dialogEdit"
    persistent
    width="25%"
    height="70%"
  >
    <v-card>
      <v-card-title>Edit Employee</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Name"
                required
                v-model="useEmployee.editedemployee.name"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Surname"
                required
                v-model="useEmployee.editedemployee.surname"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Tel"
                required
                v-model="useEmployee.editedemployee.tel"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Jobtitle"
                required
                v-model="useEmployee.editedemployee.jobtitle"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useEmployee.dialogEdit = false;
              useEmployee.clearAdd();
            "
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
