<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import { onMounted } from "vue";
import AddDialog from "@/views/employee/DialogAdd.vue";
import EditDialog from "@/views/employee/DialogEdit.vue";
import DeleteDialog from "@/views/employee/DialogDelete.vue";
import { mdiPlusThick, mdiDelete, mdiPencil } from "@mdi/js";

const useEmployee = useEmployeeStore();

onMounted(async () => {
  await useEmployee.getEmployees();
});
</script>

<template>
  <EditDialog></EditDialog>
  <AddDialog></AddDialog>
  <DeleteDialog></DeleteDialog>
  <v-card class="mx-auto" variant="tonal" color="#826F66" width="100%">
    <v-container>
      <v-row>
        <v-col cols="11"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >Employee</v-card-title
          ></v-col
        >
        <v-col cols="1"
          ><v-btn
            :icon="mdiPlusThick"
            color="brown-lighten-2"
            @click="useEmployee.dialogAdd = true"
          ></v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 70vh">
          <v-table>
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Name</th>
                <th style="font-size: 15px; color: white">Surname</th>
                <th style="font-size: 15px; color: white">Tel</th>
                <th style="font-size: 15px; color: white">Jobtitle</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of useEmployee.employee" :key="item.employee_id">
                <th style="font-size: 15px; color: #607d8b">{{ item.name }}</th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.surname }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.tel }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.jobtitle }}
                </th>

                <th class="text-right">
                  <v-btn
                    :icon="mdiPencil"
                    class="ma-2"
                    color="blue-grey-lighten-1"
                    @click="useEmployee.editEmployee(item)"
                  ></v-btn>
                  <v-btn
                    :icon="mdiDelete"
                    class="ma-2"
                    color="brown-darken-1"
                    @click="
                      (useEmployee.deleteemployee = item.employee_id),
                        (useEmployee.dialogDelete = true)
                    "
                  ></v-btn>
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}
.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
