<script setup lang="ts">
import { ref, onMounted } from "vue";
import { mdiAccountBox, mdiLock } from "@mdi/js";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
import { useUserStore } from "@/stores/user";

const loginStore = useLoginStore();

// const emit = defineEmits<{
//   (e: "login", userName: string): void;
// }>();

const loginName = ref("");
const password = ref("");
const show = ref(false);
const valid = ref(true);
const from = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await from.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
    // loginStore.isLogin
    // loginStore.main = true;
    // loginStore.log = false;
  }
};
const reset = () => {
  loginName.value = "";
  password.value = "";
  // from.value!.reset();
};

const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUsers();
});
</script>

<template>
  <v-app>
    <v-main class="bg pa-16">
      <form class="form">
        <p id="heading">Login</p>
        <p class="welcome">Welcome</p>
        <v-card-text>
          <v-form ref="from" v-model="valid">
            <input
              class="input-field field"
              placeholder="Username"
              v-model="loginName"
              :rules="[
                 (v: any) =>!!v || 'Login Name is required',
                 (v: string| any[]) =>
                  v.length >= 4 ||
                  'Name must be more than or equal 4 characters',
              ]"
              required
            />
            <input
              class="input-field field"
              placeholder="Password"
              type="Password"
              v-model="password"
              :rules="[
                (v: any) => !!v || 'Password is required',
                (v: string| any[]) =>
                  v.length >= 8 ||
                  'Password must be more than or equal 8 characters',
              ]"
              required
            />
          </v-form>
          <!-- {{ loginName }}
          {{ password }} -->
        </v-card-text>

        <v-card-actions class="justify-center">
          <v-btn class="button3" @click="login()" color="white">Login</v-btn>
          <v-btn class="button4" @click="reset()" color="white">Clear</v-btn>
        </v-card-actions>
      </form>
    </v-main>
  </v-app>
</template>
<style>
.bg {
  background-image: url("src/image/bgLogin5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #3a3845;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  max-width: 400px;
  margin: 0 auto;
  border: 4px solid #3a3845;
  padding: 16px;
  margin-top: 4%;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid #3a3845;
}

#heading {
  text-align: center;
  margin: 1em;
  color: rgb(173, 173, 173);
  font-size: 1.4em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 1em;
  color: rgb(196, 61, 61);
  background-color: #5c1b1b;
  box-shadow: inset 2px 5px 10px #3a3845;
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}
.input-field {
  background: #dddbdb;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  color: #3a3845;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  color: rgb(255, 255, 255);
  background-color: #5f5b5e;
  margin-right: 30px;
}
.button3:hover {
  background-color: rgb(120, 195, 108);
  color: white;
}
.button4 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  color: rgb(255, 255, 255);
  background-color: #5f5b5e;
}
.button4:hover {
  background-color: rgb(235, 79, 79);
  color: white;
}
.welcome {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.9em;
  margin-top: -4%;
}
</style>
