<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiChefHat,
  mdiTableFurniture,
  mdiCart,
  mdiBroom,
  mdiRoomService,
  mdiCashRegister,
  mdiFoodApple,
  mdiAccount,
  mdiNaturePeople,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  loginStore.logout();
};
</script>

<!-- <template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
      <v-btn @click="(loginStore.main = false), (loginStore.log = true), logout"
        >Logout</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://media.tenor.com/0UPw9RZF_cAAAAAC/pop-cat.gif"
          :title="loginStore.loginName"
          subtitle="63160204@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiCashRegister"
          title="Cashier"
          value="cashier"
          to="cashier"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableFurniture"
          title="Table"
          value="table"
          to="table"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiChefHat"
          title="Kitchen"
          value="kitchen"
          to="kitchen"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiBroom"
          title="Clean"
          value="clean"
          to="clean"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCart"
          title="Order"
          value="order"
          to="order"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiRoomService"
          title="Serving"
          value="serving"
          to="serving"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFoodApple"
          title="Product"
          value="product"
          to="product"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiNaturePeople"
          title="User"
          value="user"
          to="user"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccount"
          title="Employee"
          value="employee"
          to="employee"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template> -->
