<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { useCategoryStore } from "@/stores/category";
import { onMounted, ref } from "vue";
import { VForm } from "vuetify/components";

const useProduct = useProductStore();
const categoryStore = useCategoryStore();
const form = ref<VForm | null>(null);

async function save() {
  await useProduct.AddProduct();
}

onMounted(async () => {
  await categoryStore.getCategorys();
});
</script>
<template>
  <v-dialog v-model="useProduct.dialogAdd" persistent width="40%" height="70%">
    <v-card>
      <v-card-title>Add New Product </v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Name"
                required
                v-model="useProduct.editedproduct.name"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="Price"
                required
                v-model.number="useProduct.editedproduct.price"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-select
                v-model="useProduct.editedproduct.categoryId"
                :items="categoryStore.categorys"
                item-title="category_name"
                item-value="category_id"
                label="Select"
                single-line
              ></v-select>
              <v-file-input
                v-model="useProduct.editedproduct.files"
                accept="image/*"
                label="Image input"
              >
              </v-file-input>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useProduct.dialogAdd = false;
              useProduct.clearAdd();
            "
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
