<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useProduct = useProductStore();
const form = ref<VForm | null>(null);
</script>
<template>
  <v-dialog
    v-model="useProduct.dialogDelete"
    persistent
    width="25%"
    height="70%"
  >
    <v-card>
      <v-card-title>Delete</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card-text
                >Confirm Delete Product
                {{ useProduct.deleteproduct }}
                ?</v-card-text
              >
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useProduct.dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useProduct.deleteProduct(useProduct.deleteproduct),
                (useProduct.dialogDelete = false)
            "
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
