<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import { onMounted } from "vue";
import AddDialog from "@/views/product/DialogAdd.vue";
import EditDialog from "@/views/product/DialogEdit.vue";
import DeleteDialog from "@/views/product/DialogDelete.vue";
import { mdiPlusThick, mdiDelete, mdiPencil, mdiMagnify } from "@mdi/js";

const useProduct = useProductStore();

onMounted(async () => {
  await useProduct.getProducts();
});
const backendURL = import.meta.env.VITE_BACKEND_URL;
</script>

<template>
  <EditDialog></EditDialog>
  <AddDialog></AddDialog>
  <DeleteDialog></DeleteDialog>
  <v-card class="mx-auto" variant="tonal" color="#826F66" width="100%">
    <v-container>
      <v-row>
        <v-col cols="8"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >Product</v-card-title
          ></v-col
        >
        <v-col cols="4"
          ><v-row>
            <v-text-field
              v-model="useProduct.keyword"
              style="height: 7vh; width: 20vw"
              density="comfortable"
              variant="outlined"
              label="Search"
              :append-inner-icon="mdiMagnify"
              class="pa-3 mb-3"
            ></v-text-field
            ><v-btn
              :icon="mdiPlusThick"
              color="brown-lighten-2"
              style="margin-top: 10px; margin-right: 10px"
              @click="useProduct.dialogAdd = true"
            ></v-btn
          ></v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>

  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 60vh">
          <v-table>
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Name</th>
                <th style="font-size: 15px; color: white">Price</th>
                <th style="font-size: 15px; color: white">Category</th>
                <th style="font-size: 15px; color: white">Image</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of useProduct.products" :key="item.product_id">
                <th style="font-size: 15px; color: #607d8b">{{ item.name }}</th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.price }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.category?.category_name }}
                </th>
                <th class="pa-2">
                  <v-img
                    width="5vw"
                    height="10vh"
                    :src="`${backendURL}/products/image/${item.img}`"
                  ></v-img>
                </th>

                <th class="text-right">
                  <v-btn
                    :icon="mdiPencil"
                    class="ma-2"
                    color="blue-grey-lighten-1"
                    @click="
                      useProduct.editedproduct.product_id = item.product_id;
                      useProduct.editedproduct.name = item.name;
                      useProduct.editedproduct.price = item.price;
                      useProduct.editedproduct.img = item.img;
                      useProduct.editedproduct.categoryId = item.categoryId;
                      useProduct.dialogEdit = true;
                    "
                  ></v-btn>
                  <v-btn
                    :icon="mdiDelete"
                    class="ma-2"
                    color="brown-darken-1"
                    @click="
                      (useProduct.deleteproduct = item.product_id),
                        (useProduct.dialogDelete = true)
                    "
                  ></v-btn>
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
    <v-pagination
      :length="useProduct.lastPage"
      v-model="useProduct.page"
    ></v-pagination>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}

.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
