<script setup lang="ts">
import { ref } from "vue";
import {
  // mdiWeatherSunny,
  // mdiWeatherNight,
  mdiChefHat,
  mdiTableFurniture,
  mdiCart,
  mdiBroom,
  mdiRoomService,
  mdiCashRegister,
  mdiFoodApple,
  mdiAccount,
  mdiNaturePeople,
} from "@mdi/js";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

onMounted(async () => {
  // await loginStore.showTitle("");
  // await router.push("/");
  await loginStore.loadData();
});
</script>

<template>
  <v-navigation-drawer class="drawer" expand-on-hover rail permanent>
    <v-list>
      <v-list-item
        prepend-avatar="https://media.tenor.com/0UPw9RZF_cAAAAAC/pop-cat.gif"
        :title="loginStore.loginName"
        subtitle="63160204@go.buu.ac.th"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>
    <v-list density="compact" nav>
      <v-list-item
        class="color2"
        :prepend-icon="mdiCashRegister"
        title="Cashier"
        value="cashier"
        to="cashier"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiTableFurniture"
        title="Table"
        value="table"
        to="table"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiChefHat"
        title="Kitchen"
        value="kitchen"
        to="kitchen"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiBroom"
        title="Clean"
        value="clean"
        to="clean"
        active-class="color3"
      ></v-list-item>
      <!-- <v-list-item
        class="color2"
        :prepend-icon="mdiCart"
        title="Order"
        value="order"
        to="order"
        active-class="color3"
      ></v-list-item> -->
      <v-list-item
        class="color2"
        :prepend-icon="mdiRoomService"
        title="Serving"
        value="serving"
        to="serving"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiFoodApple"
        title="Product"
        value="product"
        to="product"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiNaturePeople"
        title="User"
        value="user"
        to="user"
        active-class="color3"
      ></v-list-item>
      <v-list-item
        class="color2"
        :prepend-icon="mdiAccount"
        title="Employee"
        value="employee"
        to="employee"
        active-class="color3"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<style>
.color1 {
  background-color: #f0c3d2;
  color: #ffffff;
}
.color2 {
  background-color: #c69b7b;
  color: #ffffff;
}
.color3 {
  background-color: #826f66;
  color: #ffffff;
}
.drawer {
  background-color: #f2d8c4;
}
</style>
