<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";

const useTable = useTableStore();

onMounted(async () => {
  await useTable.getAllTables();
});
</script>

<template>
  <v-col cols="12">
    <v-card variant="tonal" color="#826F66" width="100%">
      <v-container>
        <v-row>
          <v-col cols="12"
            ><v-card-title style="font-size: 35px; font-weight: bold"
              >Cleaning</v-card-title
            ></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </v-col>

  <v-container>
    <v-row>
      <v-col
        cols="3"
        v-for="item of useTable.tables.filter(
          (tables) => tables.status === 'clean'
        )"
        :key="item.status"
      >
        <v-card
          variant="tonal"
          align="center"
          height="270px"
          width="250px"
          color="yellow-darken-4"
          ><v-card-title class="cardTitel">Table {{ item.id }}</v-card-title>
          <v-img
            class="my-2"
            width="110"
            src="https://media.discordapp.net/attachments/866545462738550824/1080427523600551936/clean.png?width=691&height=702"
          ></v-img>
          <br />
          <v-btn
            style="font-size: 20px"
            color="yellow-darken-4"
            width="130"
            @click="
              (useTable.editedTable.id = item.id),
                (useTable.editedTable.chair = item.chair),
                (useTable.editedTable.status = 'ready'),
                useTable.saveTable()
            "
            >Cleaned</v-btn
          >
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.cardSub {
  font-size: 18px;
  font-weight: bold;
}
</style>
