<script setup lang="ts">
import { computed, ref } from "vue";
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import { useOrderItemStore } from "@/stores/order-item";
import { useCategoryStore } from "@/stores/category";
import { mdiMagnify, mdiDelete } from "@mdi/js";
import { useOrderStore } from "@/stores/order";

const useOrder = useOrderStore();
const useProduct = useProductStore();
const useOrderItem = useOrderItemStore();
const useCategory = useCategoryStore();

onMounted(async () => {
  await useProduct.getProductsByCategory(1, useProduct.getByCatKeyword);
  await useCategory.getCategorys();
});
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col cols="7">
        <v-tabs
          v-model="useProduct.category"
          fixed-tabs
          background-color="indigo"
          dark
        >
          <v-tab
            v-for="item of useCategory.categorys"
            :key="item.category_id"
            :value="item.category_id"
            style="font-weight: bold; font-size: 20px; height: 7vh"
          >
            {{ item.category_name }}
          </v-tab>
        </v-tabs>
        <v-window>
          <v-text-field
            v-model="useProduct.getByCatKeyword"
            style="height: 7vh; width: 25vw"
            density="comfortable"
            variant="outlined"
            label="Search"
            :append-inner-icon="mdiMagnify"
            class="pa-3 mt-2 mb-8"
          ></v-text-field>
          <v-container>
            <v-row style="overflow-y: auto; height: 60vh">
              <v-col
                cols="4"
                v-for="item of useProduct.products"
                :key="item.product_id"
              >
                <v-btn
                  style="width: 170px; height: 35vh; background-color: #84776f"
                  class="ma-2 mt-2 ml-3"
                  @click="
                    useOrderItem.addProduct(item)
                    // useOrderItem.extendlist(item);
                  "
                >
                  <v-card style="width: 170px; height: 35vh" class="card">
                    <v-img
                      class="align-end image mt-0"
                      style="height: 11vh; width: 20vw"
                      :src="`http://localhost:3000/products/image/${item.img}`"
                    >
                    </v-img>
                    <!-- <v-card-title class="title ml-2"
                                  >{{ item.name }}
                                </v-card-title>
                                <v-card-subtitle style="font-weight: 100" class="title ml-2"
                                  >{{ item.category?.category_name }}
                                </v-card-subtitle>
                                <v-card-text
                                  style="font-size: small; font-weight: 100"
                                  class="title ml-2"
                                  >{{ item.price }} ฿
                                </v-card-text> -->

                    <v-card-title class="title mb-7">{{
                      item.name
                    }}</v-card-title>

                    <v-card-subtitle
                      class="title mb-6"
                      style="font-weight: 100; font-size: medium"
                      >{{ item.category?.category_name }}</v-card-subtitle
                    >

                    <v-card-subtitle class="title" style="font-weight: 200">
                      {{ item.price }} ฿
                    </v-card-subtitle>
                  </v-card>
                </v-btn>
              </v-col>
            </v-row></v-container
          >
        </v-window>
      </v-col>
      <v-col cols="5">
        <v-card height="520px" width="500px" color="#F7CCAC">
          <h2
            style="text-align: center; font-size: 20px; padding-top: 6px"
            class="pl-3"
          >
            ORDER
          </h2>

          <v-container
            ><v-row>
              <v-col cols="4" class="text-left pl-3">
                <h5>Name</h5>
              </v-col>
              <v-col cols="4" class="pl-13">
                <h5>Quantity</h5>
              </v-col>
              <v-col cols="2  " class="pl-4">
                <h5>Price</h5>
              </v-col>
            </v-row>
          </v-container>
          <v-card
            style="overflow-y: auto; height: 46vh"
            class="ma-2"
            color="#F7CCAC"
          >
            <v-card
              v-for="(item, index) of useOrderItem.orderList"
              :key="index"
              class="ma-2"
              height="80px"
              color="#fae3d2"
            >
              <v-container>
                <v-row>
                  <v-col cols="4" class="pl-3 pt-7">
                    <v-card-subtitle>{{
                      item.product.name
                    }}</v-card-subtitle></v-col
                  ><v-col cols="1"
                    ><v-card-actions class="justify-center"
                      ><v-btn
                        style="width: 10px"
                        @click="useOrderItem.decreaseAmount(index)"
                        >-</v-btn
                      ></v-card-actions
                    >
                  </v-col>
                  <v-col cols="2" class="pl-3 pt-7"
                    ><v-card-subtitle>{{ item.amount }}</v-card-subtitle></v-col
                  ><v-col cols="1"
                    ><v-card-actions class="justify-center"
                      ><v-btn @click="useOrderItem.increaseAmount(index)">
                        +
                      </v-btn></v-card-actions
                    > </v-col
                  ><v-col cols="3" class="pt-7"
                    ><v-card-subtitle>{{
                      item.amount * item.product.price
                    }}</v-card-subtitle></v-col
                  >
                  <v-col cols="1"
                    ><v-card-actions class="justify-center"
                      ><v-btn
                        class="move-up-button"
                        color="brown-lighten-2"
                        :icon="mdiDelete"
                        style="margin-top: 10px; margin-right: 10px"
                        @click="useOrderItem.deleteProduct(index)"
                      >
                      </v-btn>
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-card>

          <div class="pl-3">Total order {{ useOrderItem.sumAmount }}</div>
          <div class="pl-3">Total price {{ useOrderItem.sumPrice }} ฿</div>
          <div
            style="
              text-align: center;
              margin-top: 20px;
              display: flex;
              justify-content: space-around;
            "
          >
            <v-btn
              to="cashier"
              @Click="
                useOrderItem.extendlist();
                useOrderItem.openOrderItem(useOrder.orderId);
              "
              color="brown-darken-1"
              >CONFIRM</v-btn
            >

            <v-btn
              to="cashier"
              color="red-lighten-2"
              @Click="useOrderItem.clearOrder()"
              >CENCEL</v-btn
            >
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
.card-footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

/* Text */
.text-title {
  font-weight: bold;
  font-size: 1em;
  line-height: 1;

  font-size: 15px;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #41a449;
  background-color: #63eb7e;
}

.card {
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;

  padding-bottom: 4em;
}

.card::after {
  content: "Add to Order";
  padding-top: 0.7em;
  padding-left: 0.1em;
  position: absolute;
  left: 0;
  bottom: -65px;
  background: #826f66;
  color: #fff;
  height: 5vh;
  width: 100%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
}

.card .title {
  font-family: sans-serif;
  font-size: 1.2em;
  position: absolute;
  left: 0em;
  bottom: 2em;
  font-weight: bold;
}

.card .price {
  font-family: sans-serif;
  font-size: 1em;
  position: absolute;
  left: 0em;
  bottom: 0.1em;
}

.card:hover::after {
  bottom: 0;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Added !";
  height: 3.125em;
}

.image {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.move-up-button {
  position: relative;
  top: -15px;
}
</style>
