<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useUser = useUserStore();
const form = ref<VForm | null>(null);
</script>
<template>
  <v-dialog v-model="useUser.dialogDelete" persistent width="25%" height="70%">
    <v-card>
      <v-card-title>Delete</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card-text
                >Confirm Delete User
                {{ useUser.deleteuser }}
                ?</v-card-text
              >
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useUser.dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useUser.deleteUser(useUser.deleteuser),
                (useUser.dialogDelete = false)
            "
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
