<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import { VForm } from "vuetify/components";

const useUser = useUserStore();
const form = ref<VForm | null>(null);

async function save() {
  await useUser.saveUser();
  useUser.dialogEdit = false;
}
</script>
<template>
  <v-dialog v-model="useUser.dialogEdit" persistent width="25%" height="70%">
    <v-card>
      <v-card-title>Edit User</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="login name"
                required
                v-model="useUser.editeduser.user_login"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="name"
                required
                v-model="useUser.editeduser.username"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
              <v-text-field
                label="password"
                required
                v-model="useUser.editeduser.password"
                :rules="[(v) => !!v || 'Item is required']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="
              useUser.dialogEdit = false;
              useUser.clearAdd();
            "
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
