<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import { onMounted } from "vue";
import AddDialog from "@/views/user/DialogAdd.vue";
import EditDialog from "@/views/user/DialogEdit.vue";
import DeleteDialog from "@/views/user/DialogDelete.vue";
import { mdiPlusThick, mdiDelete, mdiPencil } from "@mdi/js";

const useUser = useUserStore();

onMounted(async () => {
  await useUser.getUsers();
});
</script>

<template>
  <EditDialog></EditDialog>
  <AddDialog></AddDialog>
  <DeleteDialog></DeleteDialog>
  <v-card class="mx-auto" variant="tonal" color="#826F66" width="100%">
    <v-container>
      <v-row>
        <v-col cols="11"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >User</v-card-title
          ></v-col
        >
        <v-col cols="1">
          <!-- <v-btn
            :icon="mdiPlusThick"
            color="brown-lighten-2"
            @click="useUser.dialogAdd = true"
          ></v-btn> -->
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 70vh">
          <v-table>
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Id</th>
                <th style="font-size: 15px; color: white">Login</th>
                <th style="font-size: 15px; color: white">Name</th>
                <th style="font-size: 15px; color: white">Password</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of useUser.user" :key="item.user_id">
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.user_id }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.user_login }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.username }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ item.password }}
                </th>

                <th class="text-right">
                  <v-btn
                    :icon="mdiPencil"
                    class="ma-2"
                    color="blue-grey-lighten-1"
                    @click="useUser.editUser1(item)"
                  ></v-btn>
                  <!-- <v-btn
                    :icon="mdiDelete"
                    class="ma-2"
                    color="brown-darken-1"
                    @click="
                      (useUser.deleteuser = item.user_id),
                        (useUser.dialogDelete = true)
                    "
                  ></v-btn> -->
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}
.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
