<script setup lang="ts">
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/MessageBox.vue";
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";

const loginStore = useLoginStore();

onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <component
    :is="$route.meta.layout == 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <MessageBox></MessageBox>
</template>

<style scoped></style>
