<script setup lang="ts">
import { useOrderDetailStore } from "@/stores/order-detail";

import { onMounted } from "vue";

const useOrderDetail = useOrderDetailStore();

onMounted(async () => {
  await useOrderDetail.getAllOrderDetail();
});
</script>

<template>
  <v-col cols="12">
    <v-card variant="tonal" color="#826F66" width="100%">
      <v-container>
        <v-row>
          <v-col cols="12"
            ><v-card-title style="font-size: 35px; font-weight: bold"
              >Kitchen</v-card-title
            ></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </v-col>

  <v-container style="overflow-y: auto; height: 90vh">
    <v-row>
      <v-card-title class="cardTitel">Queue </v-card-title>
    </v-row>
    <v-row>
      <v-col
        cols="3"
        v-for="item of useOrderDetail.orderDetail.filter(
          (status) => status.ord_detail_status === 'กำลังรอคิว'
        )"
        :key="item.order_detail_id"
      >
        <v-card
          variant="tonal"
          align="center"
          height="330px"
          width="250px"
          color="indigo-lighten-1"
          class="ma-5"
          ><v-card-title class="cardTitel"
            >Queue {{ item.order_detail_id }}</v-card-title
          >
          <v-img
            class="ma-2"
            width="105"
            src="https://media.discordapp.net/attachments/882604249974964225/1082432475638280332/chef.png?width=203&height=211"
          ></v-img>
          <v-card-text>
            <div class="text-left cardSub my-2">
              Menu : {{ item.ord_detail_name }}
            </div>
            <br />
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn style="font-size: 17px">Cancel</v-btn>
            <v-btn style="font-size: 17px">Cooking</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <!-- <v-col
        cols="6"
        v-for="item of useStatus.status.filter(
          (status) => status.status === 'กำลังทำ'
        )"
        :key="item.status_id"
      >
        <v-card-title class="cardTitel">Cooking </v-card-title>
        <v-row>
          <v-card
            variant="tonal"
            align="center"
            height="330px"
            width="250px"
            color="amber-darken-3"
            class="ma-5"
            ><v-card-title class="cardTitel"
              >Queue {{ item.status_id }}
            </v-card-title>
            <v-img
              class="ma-2"
              width="105"
              src="https://media.discordapp.net/attachments/882604249974964225/1082432475638280332/chef.png?width=203&height=211"
            ></v-img>
            <v-card-text>
              <div class="text-left cardSub my-2">Menu :</div>

              <div class="text-left cardSub">Note :</div>
              <br />
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn style="font-size: 17px">Cancel</v-btn>
              <v-btn
                style="font-size: 17px"
                @click="
                  useStatus.editedStatus = item;
                  useStatus.editedStatus.status = 'รอเสิร์ฟ';
                  useStatus.updateStatus();
                "
                >Finish</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-row>
      </v-col> -->
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}
</style>
