<script setup lang="ts">
import { useOrderDetailStore } from "@/stores/order-detail";
import { onMounted } from "vue";

const useOrderDetail = useOrderDetailStore();

onMounted(async () => {
  await useOrderDetail.getAllOrderDetail();
});
</script>

<template>
  <v-col cols="12">
    <v-card variant="tonal" color="#826F66" width="100%">
      <v-container>
        <v-row>
          <v-col cols="12"
            ><v-card-title style="font-size: 35px; font-weight: bold"
              >Serving</v-card-title
            ></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </v-col>

  <v-container>
    <v-row
      v-for="item of useOrderDetail.orderDetail.filter(
        (status) => status.ord_detail_status === 'รอเสิร์ฟ'
      )"
      :key="item.order_detail_id"
    >
      <v-col cols="10">
        <v-card
          variant="tonal"
          align="center"
          height="350px"
          width="325px"
          color="amber-darken-4"
          ><v-card-title class="cardTitel"
            >Table {{ item.ord_detail_table }}</v-card-title
          >
          <v-img
            class="ma-2"
            width="105"
            src="https://media.discordapp.net/attachments/866545462738550824/1082409549199319160/serving.png?width=585&height=702"
          ></v-img>
          <v-card-text>
            <div class="text-left cardSub my-2">
              Menu : {{ item.ord_detail_name }}
            </div>
            <br />
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn style="font-size: 17px">Cancel</v-btn>
            <!-- <v-btn
              style="font-size: 17px"
              @click="
                useStatus.editedStatus = item;
                useStatus.editedStatus.status = 'เสิร์ฟแล้ว';
                useStatus.updateStatus();
              "
              >Serving</v-btn
            > -->
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 26px;
  font-weight: bold;
}

.cardSub {
  font-size: 18px;
  font-weight: bold;
}
</style>
