<script setup lang="ts">
import { mdiGestureTap } from "@mdi/js";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
import { ref } from "vue";
import OrderDialog from "@/views/cashier/DialogOrder.vue";

const useTable = useTableStore();
const useOrder = useOrderStore();

onMounted(async () => {
  await useTable.getAllTables();
  await useOrder.getOrders();
});

function statuscolor(status: string) {
  if (status === "ready") {
    return "green-darken-2";
  } else if (status === "used") {
    return "red-darken-1";
  } else if (status === "clean") {
    return "yellow-darken-4";
  }
}
function statusimg(status: string) {
  if (status === "ready") {
    return "https://media.discordapp.net/attachments/866545462738550824/1080427523889954896/ready.png";
  } else if (status === "used") {
    return "https://media.discordapp.net/attachments/866545462738550824/1080421605567631450/used.png?width=777&height=700";
  } else if (status === "clean") {
    return "https://media.discordapp.net/attachments/866545462738550824/1080427523600551936/clean.png";
  }
}
</script>

<template>
  <OrderDialog></OrderDialog>

  <v-card class="mx-auto" variant="tonal" color="#826F66">
    <v-container>
      <v-row>
        <v-col
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >Cashier</v-card-title
          ></v-col
        >
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-container style="overflow-y: auto; height: 70vh">
          <v-row>
            <v-col cols="3" v-for="item of useTable.tables" :key="item.id">
              <v-card
                variant="tonal"
                align="center"
                height="35vh"
                width="11vw"
                :color="statuscolor(item.status)"
              >
                <v-card-title class="cardTitel"
                  >Table {{ item.id }}</v-card-title
                >
                <v-card-subtitle class="cardSub"
                  >{{ item.status }}
                </v-card-subtitle>
                <v-img
                  class="ma-3"
                  width="60"
                  height="50"
                  :src="statusimg(item.status)"
                ></v-img>
                <v-card-subtitle>{{ item.chair }} </v-card-subtitle>
                <v-btn
                  class="ma-3"
                  :prepend-icon="mdiGestureTap"
                  :color="statuscolor(item.status)"
                  @click="useTable.editedTable = item"
                  >Click</v-btn
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="5">
        <v-container>
          <v-row>
            <v-col>
              <v-card variant="tonal" color="brown-darken-4">
                <v-card-title class="cardTitel">
                  Table {{ useTable.editedTable.id }}
                </v-card-title>
                <v-card-subtitle class="cardSub"
                  >Chair {{ useTable.editedTable.chair }}
                </v-card-subtitle>
                <v-btn
                  class="ma-3"
                  color="brown-darken-1"
                  width="40%"
                  height="40"
                  @click="
                    useTable.openTable(
                      useTable.editedTable.id!,
                      useTable.editedTable
                    )
                  "
                  >Open Table</v-btn
                >
                <v-btn
                  class="ma-3"
                  color="brown-darken-1"
                  width="40%"
                  height="40"
                  to="order"
                  @click="useOrder.getOrderByTable(+useTable.editedTable.id!)"
                  >Order</v-btn
                >
                <v-btn
                  class="ma-3"
                  color="brown-darken-1"
                  width="40%"
                  height="40"
                  to="orderlist"
                  @click="useOrder.getOrderByTable(+useTable.editedTable.id!)"
                  >OrderList</v-btn
                >
                <v-btn
                  class="ma-3"
                  color="brown-darken-1"
                  width="40%"
                  height="40"
                  to="pay"
                  >OrderList</v-btn
                >
                <v-btn
                  class="ma-3"
                  color="brown-darken-1"
                  width="40%"
                  height="40"
                  to="pay"
                  @click="useOrder.getOrderByTable(+useTable.editedTable.id!)"
                  >Pay</v-btn
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
