<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import { VForm } from "vuetify/components";

const useOrder = useOrderStore();
const useTable = useTableStore();
const form = ref<VForm | null>(null);

async function save() {
  await useOrder.addOrder(+useTable.editedTable.id!);
  // useTable.editedTable.status = status;
  // await useTable.saveTable();
}

onMounted(async () => {
  await useTable.getAllTables();
});
</script>
<template>
  <v-dialog v-model="useOrder.dialogAdd" persistent width="25%" height="70%">
    <v-card>
      <v-card-title>Open Order</v-card-title>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card-text
                >Confirm Table
                {{ useTable.editedTable.id }}
                ?</v-card-text
              >
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey"
            variant="text"
            @click="useOrder.dialogAdd = false"
          >
            Cancel
          </v-btn>
          <v-btn color="blue-grey" variant="text" @click="save()"> Save </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>
