<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { useOrderDetailStore } from "@/stores/order-detail";
import { ref } from "vue";
import { onMounted } from "vue";
import { mdiPlusThick, mdiDelete, mdiPencil } from "@mdi/js";
import { useOrderStore } from "@/stores/order";
import { useOrderItemStore } from "@/stores/order-item";

const useTable = useTableStore();
const useOrderItem = useOrderItemStore();
const useOrder = useOrderStore();

onMounted(async () => {
  // await useOrderItem.getOrderItemByTableId(+useTable.editedTable.id!);
  // await useOrder.getOrderByTable(+useTable.editedTable.id!);
  await useOrder.updateOrder(+useOrder.orderByTable?.order_id!);
});

function statuscolor(status: string) {
  if (status === "กำลังรอคิว") {
    return "red-darken-1";
  } else if (status === "used") {
    return "red-darken-1";
  } else if (status === "clean") {
    return "yellow-darken-4";
  }
}
</script>

<template>
  <v-card class="mx-auto" variant="tonal" color="#826F66">
    <v-container>
      <v-row>
        <v-col cols="11"
          ><v-card-title style="font-size: 35px; font-weight: bold"
            >OrderList</v-card-title
          ></v-col
        >
        <v-col cols="1"></v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; height: 60vh">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: 15px; color: white">Number</th>
                <th style="font-size: 15px; color: white">Name</th>
                <th style="font-size: 15px; color: white" class="text-center">
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th style="font-size: 15px; color: #607d8b">
                  {{ useOrder.orderByTable?.order_id }}
                </th>
                <th style="font-size: 15px; color: #607d8b">
                  {{ useOrder.orderByTable?.ord_total }}
                </th>
                <th>
                  <v-card
                    align="center"
                    height="5vh"
                    width="9vw"
                    class="mx-auto"
                    ><v-card-subtitle
                      class="pt-1"
                      style="font-size: 13px; font-weight: bold"
                      >{{ useOrder.orderByTable?.ord_amount }}</v-card-subtitle
                    ></v-card
                  >
                </th>
                <th class="text-right">
                  <v-btn
                    class="ma-3"
                    color="brown-darken-1"
                    width="40%"
                    height="40"
                    >Pay</v-btn
                  >
                  <!-- <v-btn
                    class="ma-3"
                    color="brown-darken-1"
                    width="40%"
                    height="40"
                    to="cashier"
                    >Cancen</v-btn
                  > -->
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.cardTitel {
  font-size: 20px;
  font-weight: bold;
}

.cardSub {
  font-weight: bold;
}

.QRSub {
  font-size: 18px;
}

.v-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #826f66;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.v-table tbody tr:nth-child(even) {
  background: #ffffff;
}

.v-table tbody tr:nth-child(odd) {
  background: #efefef;
}
</style>
